/* NavBar.module.css */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav img {
  width: 150px;
  height: auto;
}

.nav a {
  padding: 8px 16px;
  margin: 0 8px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  transition: color 0.3s;
}

.nav a:hover {
  color: #97ce4c;
}
