* {
  box-sizing: border-box;
  margin: 0;
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

.danger {
  color: rgb(185, 0, 0);
}

.formBox {
  border: 4px solid #a6ff1d;
  background-color: #fffcf5e2;
  padding: 70px;
}

/* .formButton {
} */

.fromButtonBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
